/*
.result-container h3, .result-container h4{
    display: inline-block;
}
*/

#submitBtn {

}
.productImg {
    margin: 1.5em;
    width: 15em;
    height: 15em;
    display: inline-block;
    outline: 1px solid black;
    box-shadow: 3px 4px 4px black;
}